{% load static %}
</div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
      </div>
      <div class="modal-body">
        <form method="post">
          {% csrf_token %}
          {{ form }}
          <br> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="{% static 'assets/dist/js/bootstrap.bundle.min.js'%}"></script>


<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.2/dist/chart.umd.js"
  integrity="sha384-eI7PSr3L1XLISH8JdDII5YN/njoSsxfbrkCTnJrzXt+ENP5MOVBxD+l6sEG4zoLp"
  crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  $(document).ready( function () {
    $('#myTable').DataTable();
  });
</script>
<script>
const ctx2 = document.getElementById('myChart2');

new Chart(ctx2, {
  type: 'pie',
  data: {
    labels: [{% for appt in appt_list %} "{{ appt }}", {% endfor %} ],
    datasets: [{
      data: [{% for numbers in appt_numbers %} "{{ numbers }}", {% endfor %} ],
      borderWidth: 1,
    }]
  },
  options: {
      plugins: {
          title: {
              display: true,
              text: 'Appointments Statistics'
          }
      }
  }

});
</script>
<script src="{% static 'assets/js/dashboard.js'%}"></script>

</body>

</html>