{% load static %}
{% include 'includes/admin-nav.html' %}
{% if user.role == "ADMIN" %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Add Inspections</h1>
    <hr>
    
  </div>
  {% if messages %}
  {% for message in messages %}
  {% if message.tags == 'error'%}
  <div class="alert alert-danger" role="alert">
      {{ message }}.
  </div>
  {% else %}
  <div class="alert alert-success" role="alert">
      {{ message }}.
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
  
  <div class="card">
    <div class="card-header">
      Info
    </div>
    <div class="card-body">
      <h5 class="card-title">Owner: {{ appointment.owner_id.first_name}} {{ appointment.owner_id.last_name }}({{ appointment.owner_id }})</h5>
      <p class="card-text">Date: {{ appointment.date }}</p>
      <p class="card-text">Center: {{ appointment.center_id }}</p>
      <p class="card-text">Car: {{ appointment.car_id }}</p>
      <p class="card-text">Type: {{ appointment.type }}</p>
      <p class="card-text">Status: {{ appointment.status }}</p>
      <p class="card-text">Payment: {{ appointment.pstatus }}</p>
      <p class="card-text">Booked: {{ appointment.created_at }}</p>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add</button>
    </div>
  </div>
</main>




{% else %}
    <h1>You have no Permissions</h1>
    <h3><a href="{% url 'owner-home' %}">Go back</a></h3>
    {%  endif %}
{% include 'includes/admin-footer.html' %}