{% load static %}
{% include 'includes/admin-nav.html' %}
{% if user.role == "ADMIN" %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1> 
  </div>


  <div class="row p-3">
    <div class="col-xl-3 col-lg-3">
        <div class="card l-bg-cherry bg-primary">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large"><i class="fas fa-shopping-cart"></i></div>
                <div class="mb-4">
                    <h5 class="card-title mb-0"><a href="{% url 'center' %}" class="text-dark">Inspection Centers</a></h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0">
                            {{centers}}
                        </h2>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3">
        <div class="card l-bg-blue-dark bg-warning">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large"><i class="fas fa-book-open"></i></div>
                <div class="mb-4">
                    <h5 class="card-title mb-0"><a href="{% url 'admin-appointment' %}" class="text-dark">User Appointments</a></h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0">
                            {{appointments}}
                        </h2>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3">
        <div class="card l-bg-green-dark bg-info">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large"><i class="fas fa-clock"></i></div>
                <div class="mb-4">
                    <h5 class="card-title mb-0"><a href="{% url 'admin-inspections' %}" class="text-dark">Appointment Inspections</a></h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0">
                            {{inspections}}
                        </h2>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-6">
        <canvas id="myChart"></canvas>    
    </div>
    <div class="col-md-6">
        <canvas id="myChart2"></canvas>    
    </div>
  </div>
</main>
{% else %}
    <h1>You have no Permissions</h1>
    <h3><a href="{% url 'owner-home' %}">Go back</a></h3>
    {%  endif %}
{% include 'includes/admin-footer.html' %}