{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <title>Car Controll-Rwanda National Police</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!--

TemplateMo 570 Chain App Dev

https://templatemo.com/tm-570-chain-app-dev

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-chain-app-dev.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/" class="logo">
                            <img src="{% static 'assets/images/logo1.png' %}" style="width: 30%;" alt="Chain App Dev">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="{% url 'home' %}" class="active">Home</a></li>
                            <li>
                                <div class="gradient-button"><a id="modal_trigger" href="{% url 'create-account'%}"><i
                                            class="fa fa-sign-in-alt"></i> Sign
                                        In Now</a></div>
                            </li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error'%}
            <div class="alert alert-danger" role="alert">
                {{ message }}.
            </div>
            {% else %}
            <div class="alert alert-success" role="alert">
                {{ message }}.
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <center>
        <div class="social_login" style="width: 40%; text-align: left;">
            <h2>Create account</h2><br>
            <form method="post">
                {% csrf_token %}
                <label for="id_password">Username:</label>
                {{ form.username }}
                <label for="id_password">Firstname:</label>
                {{ form.first_name }}

                <label for="id_password">Lastname:</label>
                {{ form.last_name }}

                <label for="id_password">E-mail:</label>
                {{ form.email }}

                <label for="id_password">Phone number:</label>
                {{ form.phone_number }}

                <label for="id_password">Address:</label>
                {{ form.address }}

                <label for="id_password">Password:</label>
                {{ form.password }}

                <label for="id_password">Confirm Password:</label>
                    <input type="password" name="cpassword" class="form-control" maxlength="128" required id="id_cpassword"><br>
                        
                <button type="submit" class="btn btn-primary">Create Account</button>
               </form>
            <br><br>
            <a href="{% url 'login' %}" class="forgot_password" >Login</a>
        </div>


    </center>


    <!-- Scripts -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/animation.js' %}"></script>
    <script src="{% static 'assets/js/imagesloaded.js' %}"></script>
    <script src="{% static 'assets/js/popup.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
</body>

</html>