{% load static %}
{% include 'includes/owner-nav.html' %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">View Notification</h1>
    <hr>
    
  </div>
  {% if messages %}
  {% for message in messages %}
  {% if message.tags == 'error'%}
  <div class="alert alert-danger" role="alert">
      {{ message }}.
  </div>
  {% else %}
  <div class="alert alert-success" role="alert">
      {{ message }}.
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
  
  <div class="card">
    <div class="card-header">
      Message
    </div>
    <div class="card-body">
      <h5 class="card-title">From:  Automobile inspection center</h5>
      <p class="card-text">Message: {{ notification.message }}</p>
      <p class="card-text">Date: {{ notification.created_at }}</p>
    </div>
  </div>
</main>


{% include 'includes/owner-footer.html' %}